<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>passerCommande</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 *ngIf="verif">Contenu du Panier</h2>
  <div *ngIf="!verif">
    <p *ngIf="!verif">votre pannier est vide</p>
  </div>

  <ion-grid *ngIf="verif">
    <ion-row class="back">
      <ion-col size="4">Plat name</ion-col>
      <ion-col size="2">Nbr Plat</ion-col>
      <ion-col size="2">Price Unité</ion-col>
      <ion-col size="2">Price Totale</ion-col>
      <ion-col size="2">Delete</ion-col>
    </ion-row>
    <ion-row *ngFor="let cmd of cmds">
    <ion-col size="4">{{cmd.name}}</ion-col>
    <ion-col size="2">{{cmd.platNumber}}</ion-col>
    <ion-col size="2">{{cmd.priceUnt}}</ion-col>
    <ion-col size="2">{{cmd.pricetot}}</ion-col>
    <ion-col size="2">
      <ion-button size="small" color="danger" (click)="deletePlat(cmd.idCuistot,cmd.idFood)">
        <ion-icon  slot="icon-only" name="trash-outline" ></ion-icon>
      </ion-button>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">Montant totale</ion-col>
      <ion-col size="6">{{montant}} D+ 6 D livraison</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">  <ion-textarea rows="3" cols="10" maxlength="40" placeholder="Enter any notes here..." [(ngModel)]="notes" value=""></ion-textarea></ion-col>
    </ion-row>
  </ion-grid>
  <ion-radio-group [(ngModel)]="choix" (ionChange)="valueChanged()" *ngIf="verif">
    <ion-list-header>
      <ion-label>Adresse du livraison</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>get AddressFrom your device</ion-label>
      <ion-radio slot="start" value="auto"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>adresse manuelle</ion-label>
      <ion-radio slot="start" value="man"></ion-radio>
    </ion-item>
  </ion-radio-group>
  <ion-textarea rows="3" cols="10" maxlength="80" placeholder="Enter your addresse here..." [(ngModel)]="adrgps"
   value="" [readonly]=readonly *ngIf="verif"></ion-textarea>
  <ion-button expand="block" (click)="passerCommande()" *ngIf="verif">Passer la commande</ion-button>
</ion-content>
